// Use in Reset.Scss
$titleColor: black;
$secondaryText: White;

// Colors
$lightGray: #dfdfdf;
$gray: #959595;
$lightBlue: #bbcfff;
$blue: #8dafff;
$lightOrange: #FFE194;
$orange: #e69a00;
$darkOrange: #FFB319;
$darkerOrange: #ffaa00;
$red: #fc2a2a;
$darkerRed: #e12424;