@import "reset";

.header {
  text-align: center;
}

.content-wrapper {
  @include flexBetween(row);
  @include wrap;
  padding: 2rem 8rem;
}

.form {
  @include flexCenter(column);
  gap: 1.3rem;
  padding: 2rem;
  margin: auto;
  border-radius: 1.2rem;
  background-color: $lightBlue;
  &__group {
    @include flexBetween(column);
    border-radius: 1.2rem;
    background-color: white;
    label {
      margin: 0.5rem 1rem;
      @include font(1.4rem, 400);
      align-self: flex-start;
    }
    input[type=text]{
      border-radius: 1.2rem;
      background-color: $blue;
      @include font(1.4rem, 400);
      &:focus {
        border-bottom: $orange 3px solid;
      }
    }
  }
  button {
    background-color: $lightOrange;
    &:hover {
      background-color: $darkOrange;
    }
  }
}

.table-container {
  overflow-x:auto;
}

.table {
  padding: 3rem;
  margin: auto;
  background-color: $lightGray;
  border-radius: 1.2rem;
  text-align: center;
  border-collapse: collapse;
  &__header {
    @include font(1.8rem, 400);
    border-radius: 1.2rem;
    background-color: $gray;
  }
  
  &__body {
    @include font(1.4rem, 400);
    
  }
  tr {
    &:hover {
      background-color: $lightOrange;
    }
  }
  th {
    padding: 2rem 5rem;
    border-bottom: 1.2rem;
  }
  td {
    padding: 1.5rem 5rem;
  }
  .edit {
    background-color: $darkerOrange;
    color: white;
    &:hover {
      background-color: $orange;
    }
  }
  .delete {
    background-color: $red;
    color: white;
    &:hover {
      background-color: $darkerRed;
    }
  }
}